/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  height: 3000px;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

/* HEADER */
header {
  background-color: #f6f5ef;
  height: 120px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
.header__inner {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 75px;
}
.header__menus {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}
.header__submenu {
  display: flex;
  color: #555555;
  font-size: 12px;
}
.header__submenu__item {
  display: flex;
  align-items: center;
}
.header__submenu__item__link {
  display: block;
  padding: 0 19px;
  border-right: 1px solid #e5e5e5;
}
.header__submenu__item:nth-child(4) > a {
  border: transparent;
}
.header__submenu__item__search {
  display: flex;
  align-items: center;
  height: 34px;
  border: 1px solid #ccc;
  outline: none;

  border-radius: 5px;
  background-color: #fff;
}
.header__submenu__item__search__input {
  color: #777;
  width: 0px;
  box-sizing: border-box;
  font-size: 16px;
  border: transparent;
  transition: width 0.6s;
}
.header__submenu__item__search__input:focus {
  width: 190px;
  margin: 0px 5px;
  border-color: #669900;
}
.header__submenu__item__search .material-icons {
  margin-right: 1px;
  transition: 0.6s;
}
.header__submenu__item__search.focused .material-icons {
  opacity: 0;
}
.header__mainmenu {
  display: flex;
  height: 67px;
}
.header__mainmenu__item {
  padding: 5px 20px 0px 20px;
  cursor: pointer;
  border-radius: 6px 6px 0 0;
}
.header__mainmenu__item > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.header__mainmenu__item:hover {
  background-color: #2c2a29;
  color: #549900;
}
.header__mainmenu__item:hover > a > span {
  border-bottom: 1px solid #549900;
}
.header__mainmenu__item__contents {
  width: 100%;
  position: absolute;
  left: 0;
  display: none;
  justify-content: center;
  cursor: default;
  animation: header__slide--action 0.4s ease-in-out;
}
.header__mainmenu__item__contents a:hover {
  text-decoration: underline;
}
.header__mainmenu__item__contents li a:hover {
  color: #549900;
  text-decoration: none;
}
.header__mainmenu__item:hover > .header__mainmenu__item__contents {
  display: block;
}
.header__mainmenu__item__topcontents {
  width: 100%;
  background-color: #2c2a29;
  display: flex;
  justify-content: center;
}
.header__mainmenu__item__topcontents__inner {
  width: 1200px;
  display: flex;
}
.header__mainmenu__item__topcontent {
  margin: 30px 0;
  width: 240px;
}
.header__mainmenu__item__topcontent > h4 {
  color: #fffdf7;
  margin-bottom: 20px;
  font-size: 15px;
}
.header__mainmenu__item__topcontent > li {
  color: darkgray;
  font-size: 13px;
}
#header__mainmenu__item__topcontent__coffeeStory {
  margin-top: 100px;
}
.header__mainmenu__item__bottomcontents {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 40px;
  background-image: url("../images/main_menu_pattern.jpg");
}
.header__mainmenu__item__bottomcontents__inner {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.header__mainmenu__item__bottomcontent {
  margin: 20px 0;
}
.header__mainmenu__item__bottomcontent__group {
  margin-top: 10px;
}
.header__mainmenu__item__bottomcontent__maincontent {
  color: darkgray;
  font-size: 13px;
  font-weight: 600;
}
.header__mainmenu__item__bottomcontent__subcontent {
  color: #63a70b;
  font-size: 13px;
  margin-top: 1px;
}

@keyframes header__slide--action {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: auto;
    opacity: 1;
  }
}

.header__badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

.header__badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  height: 640px;
}
.visual__inner {
  width: 1200px;
  position: relative;
}
.visual__inner__title {
  position: absolute;
  top: 88px;
  left: -10px;
}
.visual__inner__title__btn {
  position: absolute;
  top: 259px;
  left: 163px;
}
.visual__inner__cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual__inner__cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual__inner__cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual__inner__cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual__inner__spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in {
  opacity: 0;
}

/* NOTICE */
.notice__line {
  height: 62px;
  background: linear-gradient(90deg, #333 50%, #f6f5ef 50%);
  display: flex;
  justify-content: center;
}
.notice__line__inner {
  width: 1200px;
  height: 62px;
  display: flex;
}
.notice__line__inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}
.notice__line__inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice__line__inner__left .swiper-container {
  height: 62px;
  flex-grow: 1;
  overflow: hidden;
}
.notice__line__inner__left .swiper-container .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice__line__inner__left .swiper-container .swiper-slide a {
  color: #fff;
}
.notice__line__inner__left .notice__line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice__line__inner__left .notice__line__more .material-icons {
  color: #fff;
  font-size: 30px;
}
.notice__line__inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice__line__inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}
.notice__line__inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice__line__inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}
.notice__promotion {
  position: relative;
  height: 693px;
  background-color: #f6f5ef;
  display: flex;
  justify-content: center;
}
.notice__promotion .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 553px;
  overflow: hidden;
}
.notice__promotion .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
  position: relative;
}
.notice__promotion .swiper-slide-active {
  opacity: 1;
}
.notice__promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice__promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.notice__promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice__promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice__promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
.notice__promotion .swiper-prev,
.notice__promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.notice__promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice__promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.notice__promotion .swiper-prev:hover,
.notice__promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}
